.main{
    height: calc(100% - 30px);
    padding:15px;
    background-color: #fff;
    border-radius: 5px !important;
    transition: all 725ms cubic-bezier(0.075, 0.82, 0.165, 1);
    min-height: calc(475px - 30px);
}   
.main h5{
    font-weight: 500;
    color: #1976d2;
}
.main h5 span{
    font-size: 1.75rem;
    line-height: 1.334;
    letter-spacing: 0em;
}
.main h5 svg:first-child{
    position: relative;
    top: 8px;
    margin-right: 4px;
}
.main h5 svg:last-child{
    position: relative;
    top: 2px;
}


